<div class="left">
    <div class="item">
        <span class="glyphicon glyphicon-th-large"></span>
        <strong>Blockchain semantic terms net</strong>
    </div>
    <div class="item active">
        <span class="glyphicon glyphicon-ok-sign"></span>
        Install meta mask (Chrome plugin)
    </div>
    <div class="item active">
        <span class="glyphicon glyphicon-gift"></span>
        Get Ropsten free ethers
    </div>
 
    <div class="item active">
        <span class="glyphicon glyphicon-th-list"></span>
        Explore blockchain terms tree
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-plus"></span>
        Add node
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-remove"></span>
        Remove node
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-file"></span>
        View resources
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-upload"></span>
        Upload resources
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-arrow-up"></span>
        Vote up for good terms
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-arrow-down"></span>
        Vote down for bad terms
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-eye-open"></span>
        Enjoy while learning..
    </div>


</div>
